<nav class="navbar navbar-expand-md bg-primary navbar-dark mb-3">
   <div class="container">
      <a href="/" class="navbar-brand">Course App</a>

      <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbar-collapse'> 
         <span class='navbar-toggler-icon'></span>
      </button>

      <div class="collapse navbar-collapse" id='navbar-collapse'>

            <ul class="navbar-nav me-auto">
               <li class="nav-item">
                  <a href="/kurs" class="nav-link">Kurslar</a>
               </li>

               <li class="nav-item">
                  <a href="{% url 'create_course' %}" class="nav-link">Admin Create course</a>
               </li>

               <li class="nav-item">
                  <a href="{% url 'course_list' %}" class="nav-link">Admin Courses</a>
               </li>
            </ul>

            <ul class="navbar-nav me-0">
               {% if user.is_authenticated %}    
                  
               <li class="nav-item">
                     <a href='#' class="nav-link">{{user.username}}</a>
                  </li>
                  <li class="nav-item">
                     <a href='{% url "change_password" %}' class="nav-link">Change Password</a>
                  </li>

                  <li class="nav-item">
                     <a href='{% url "user_logout" %}' class="nav-link">logout</a>
                  </li>

               {% else %}
                  
                  <li class="nav-item">
                     <a href='{% url "user_login" %}' class="nav-link">login</a>
                  </li>
                  <li class="nav-item">
                     <a href='{% url "user_register" %}' class="nav-link">register</a>
                  </li>
                  
               {% endif %}
            </ul>
            <form class='d-flex' action="{% url 'search' %}">
               <input type="text" class='gorm-control me-1' name="q" placeholder="Anahtar Kelime">
               <input type="submit" value="Arama" class='btn btn-secondary'> 
            </form>
      </div>
   </div>
</nav>